#main > .content {
    padding-top: 0.5rem;
}

#main .toc {
    background: var(--lightgray);
    border: 1px solid var(--gray);
    border-radius: 4px;
    display: inline-block;
    margin: 1rem 0;
    padding: 0.75rem 1.25rem;
}

#main .toc a:hover {
    text-decoration: underline;
}

#main .toc ul {
    padding-left: 1.25rem;
}

#main > .warning {
    background-color: var(--tertiary);
    color: white;
    font-size: 1.1rem;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
}
